body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.short {
  width: 285px;
}

.left {
  float: left;
  margin: 10px 20px 10px 0;
}

.right {
  float: right;
  margin: 10px 0 10px 20px;
}
